body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); 
    font-family: 'EB Garamond', serif;
}

/* style page banner */
.banner img{
    width: 100%;
    height: 40vh;
}

.banner .centered {
    display: none;
  }

  /* style page body */
.page_container {
    width: 100%;
    height: fit-content;

    display: grid;
}

.categories_heading{
    display: none;
}

.blog_categories {
    padding: 20px;
    margin: 10px;
    text-align: left;
    height: 50vh;

}

.blog_categories a {
text-decoration: none;
color: black;
display: block;
padding: 8px 10px;
}

.blog_categories a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    transition: all 350ms ease;
}

.recent_posts {
    height: auto;

    display: grid;
    
    grid-template-rows: repeat(0, minmax(500px, auto));
    row-gap: 50px;
}


.post img {
    float: left;
    margin: 10px;
}

.post a {
    text-decoration: none;
    color: white;
}
.post a:hover {
    text-decoration: none;
    color: white;
}

.newsletter_header {
    text-align: left;
    color: blue;
    font-family: 'EB Garamond', serif;
}

form input {
    width: 350px;
	height: 35px;
	padding: 10px;
	margin: 5px;
	border: 2px solid black;
}

.submit {
    background-color: black;
    color: white;
    width: 80px;
    height: 50px;


}
.submit:hover {
    background-color: white;
    color: black;

    transition: all 500ms ease;
}











@media only screen and (min-width: 768px){

    .header {
        padding: 10px;
        width: 100%;
        background: #262626;

        display: flex;
        flex: 1 1 auto;
        justify-content: space-around;
    }

    .header img{
        height: 70px;
    }

    .menu{
        display: list-item;
    }
    
    .menu a {
        display: block;
        float: left;
        text-align: center;
        padding: 16px 16px;
        border-radius: 4px;
        text-decoration: none;

        color: white;
        font-size: 1.1em;

    }
    
    .menu a:hover {
            background-color: steelblue;
            color: white;
            text-decoration: none;
            transition: all 350ms ease;
    }

    .header a.icon{
        display: none;
    }

    /* style page banner */
    .banner img{
            width: 100%;
            height: 70vh;
    }

    .banner .centered {
            display: list-item;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: 4em;
            font-family: 'Dancing Script', cursive;
            color: white;
    }

    /* style page body */
    .page_container {
            width: 80%;
            height: fit-content;
            margin: 0 auto;

            display: grid;
            grid-template-columns: 25vw auto;
            grid-gap: 100px;
    }


    .categories_heading {
        display: list-item;
        font-family: 'EB Garamond', serif;
    }

    .blog_categories a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 14px 16px;
        }

        .newsletter_form {
            display: flex;
            justify-content: space-evenly;
        }

        form input {
            width: 500px;
            height: 40px;
            padding: 10px;
            margin: 5px;
            border: 2px solid black;
            margin: 0 auto;
        }

}